In [1]:
from google.cloud import bigquery
from google.oauth2.service_account import Credentials
import pandas as pd

def get_table_metadata(project_id, dataset_id):
    credentials = Credentials.from_service_account_file('secrets/service_account.json')
    # Initialize the BigQuery client
    client = bigquery.Client(credentials=credentials, project=project_id)
    
    # Construct dataset reference
    dataset_ref = client.dataset(dataset_id)

    # List tables in the dataset
    tables = list(client.list_tables(dataset_ref))

    # Collect metadata into a list of dictionaries
    table_metadata = []
    for table in tables:
        table_ref = dataset_ref.table(table.table_id)
        table_info = client.get_table(table_ref)
        
        num_columns = len(table_info.schema)
        num_rows = table_info.num_rows
        
        metadata = {
            'Dataset': dataset_id,
            'Table': table.table_id,
            'Num Columns': num_columns,
            'Num Rows': num_rows
        }
        table_metadata.append(metadata)

    # Convert list of dictionaries to a pandas DataFrame
    df = pd.DataFrame(table_metadata)
    return df

  Dataset                             Table  Num Columns  Num Rows
0     bls                           c_cpi_u           13      8049
1     bls                             cpi_u           13    939014
2     bls                          cpsaat18           11       636
3     bls         employment_hours_earnings            7   8164148
4     bls  employment_hours_earnings_series           11     25285
5     bls                  unemployment_cps            7   7476103
6     bls           unemployment_cps_series           41     52626
7     bls                                wm            7    487054
8     bls                         wm_series           16    487054

In [7]:
datasets = []
with open('datasets.txt','r') as f:
    datasets = f.readlines()
datasets = [d.strip() for d in datasets]

In [ ]:
from tqdm import tqdm
# Replace 'your_project_id' and 'your_dataset_id' with your actual project and dataset IDs
project_id = 'bigquery-public-data'
dataset_id = 'bls'
metadata_df = get_table_metadata(project_id, dataset_id)
metadata_df